*{
  font-family: "Exo";
}

body{
  margin: 0;
  min-height: 100vh;
  background-image: url(../img/blackBack.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display: flex;
  justify-content: center;
  padding-top: 3.3rem;
  padding-bottom: 1.9rem;
}

.logo {
  width: 19.4rem;
  height: 2.5rem;
  fill : none;
  background-image: url(../img/whiteLogo.png);
  background-repeat: no-repeat;
}

.bg-Box{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  width: 100%;
  padding-bottom: 3.4rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-Box{
  height: 47px;
  width: 362px;
  border-radius: 4px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;

  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #939393;
}

.helpers-Box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 3rem;
}

.check-Box{
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  margin: 0 auto;
}

.green-Link{
  color: #5fe19b;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: right;
  text-decoration: none;
}

.nice-Text{
  color: #FFFFFF;;
  align-items: center;
  padding-right: 0.5rem;
  width: 12.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
}


.logIn-Btn{
  text-align: center;
  color: #FFFFFF;
  background-color: #4cc986;
  width: 28.8rem;
  height: 4.7rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border-radius: 0.6rem;
  border: 0;
}

.welcomes{
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
}

.welcome_Msg{
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 8px;
}

.welcome_Msg2{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  margin-bottom: 32px;
}

.lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  padding: 1.6rem 0rem;
}

.line {
  width: 11.7rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.or {
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.3rem;
  height: 1.9rem;
  line-height: 1.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.login-Box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.6rem;
  margin-bottom: 1.6rem;
  width: 28.8rem;
  height: 4.7rem;
}

.login-Mts{
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.8rem;
  text-align: center;
  padding-left: 0.6rem;
  font-weight: 700;
  font-size: 1.4rem;
  width: 14.9rem;
  height: 1.9rem;
}

.login-Fb{
  width: 21px;
  height: 20px;
  background-image: url(../img/facebookLogo.png);
}

@font-face { font-family: EXO; src: url("../Exo-VariableFont_wght.ttf"); } 

