
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "exo";
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #141414;
    min-height: 100%;
    width: 100%; 
}

header {
    position: fixed;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 480px 480px 480px;
    height: 94px;
    width: 100%;
    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
	box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.search-Box {
    display: flex;
    grid-template-columns: 2;
    justify-self: center;
    align-self: center;
    height: 47px;
	width: 362px;
	bottom: 90.82%;
	border-radius: 4px;
	color: #FFFFFF;
	border-color: transparent;
}

.profile-Box{
	grid-template-columns: 3;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.profile-Photo{
	height: 48px;
	width: 48px;
	border-radius: 26px;
    justify-self: center;
}

.logout-Txt {
    padding-right: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.logo{
	margin-left: 39.95px;
    align-self: center;
	width: 19.4rem;
	height: 2.5rem;
}


.main-Container{
    padding-top: 94px;
}


.title-Box{
    height: 141px;
    width: 100%;
}

.main-Title{

    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;

    line-height: 64px;
    padding-left: 40px;
    padding-top: 19px;

    color: #FFFFFF;
}

.sub-Title{
    margin-left: 40px;
    height: 24px;
    border-radius: nullpx;
    color: #FFFFFF;
 }

.side-Option{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

button{
    color: #FFFFFF;
}

.home{
    color: #5FE19B;
}

.side-Box{
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 263px;
    margin-left: 40px;
}

--------------

h3 {
    height: 22px;
    width: fit-content;
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #303030;
    background:#FFFFFF;
}

/* -------------  Cards List -----------------  */

.cards-Container {
    height: 100%;
    width: 100%;
    padding-left: 267px;
    display: flex;
    flex-direction: column;
    z-index: inherit;
}

.games-List {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 314px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 314px;
    width: 363px;
    border-radius: 10px;
    align-items: center;
}

.card__img {
    height: 204px;
    width: 362px;
}
  
.background-img {
    height: 204px;
    width: 362px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

/* -------------  Cards CSS -----------------  */

.card-info {
      padding-top: 11px;
      height: calc(35%);
      width: 100%;
      background-color: #303030;
      border-radius: 0px 0px 10px 10px;
}

.top-Info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 363px;
    height: 33px;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-Title {
    width: 293px;
    height: 24px;
    margin-left: 16px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ranking {
    Width:40px ;
    height: 23px;
    color: #2BB34F;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    justify-self: flex-end;
    margin-right: 20px;
}

.additional-Info{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 33px;
}

.date-Box {
    display: flex;
    grid-area: 1/1;
    justify-content: space-between;
    align-items: center;
}

.release-Date {
    grid-area: 1/1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #939393;
    margin-left: 16px;
}

.genres-Box {
    display: flex;
    grid-area: 2;
    justify-content: space-between;
    gap: 40px;
}

.genres {
    grid-area: 2/1;
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #939393;
    margin-left: 16px;
}

.genres-Types {
    margin-top: 5px;
    grid-area: 2/2;
    display: flex;
    justify-self: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.genres-value{
    margin-top: 5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.platforms-container {
    display: flex;
    grid-area: 1/3; 
    gap: 6px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-self: flex-end;
    white-space: nowrap;
    overflow: hidden;
    width: 115px;
}

.release-Obtain{
    grid-area: 1/2; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.icon-Platform{
    filter: brightness(5);
    margin-left: 16px;
}

